/* You can add global styles to this file, and also import other style files */

html {
    user-select: none;
}

#centerinfo {
    overflow-y: scroll;
}

#statnum {
    margin-left: 20px;
    margin-top: 5px;
}

#sellalldiv {
    padding-top: 2px;
    margin: 0 auto;
    margin-top: 10px;
}